<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DbTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DbTool.Properties.Settings>
      <setting name="ConnString" serializeAs="String">
        <value>Data Source=MSI;Initial Catalog=MvcCoreTraining_Amanda;user id=sa;password=ruru</value>
      </setting>
      <setting name="isSummary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isKey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTableDescriptionShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSortShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDataTypeShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDefaultValueShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsIdentityShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsPrimaryKeyShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotNullShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsLengthShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPrecisionShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsScaleShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsColumnDescriptionShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isWordWithToc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="namespaceModel" serializeAs="String">
        <value>SetYouNameSpace</value>
      </setting>
    </DbTool.Properties.Settings>
  </userSettings>
</configuration>