<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EncryptTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EncryptTool.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value>jG6$q)n%</value>
            </setting>
            <setting name="Iv" serializeAs="String">
                <value>0(uS6B'U</value>
            </setting>
            <setting name="encryptWay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="beforeText" serializeAs="String">
                <value />
            </setting>
            <setting name="afterText" serializeAs="String">
                <value />
            </setting>
        </EncryptTool.Properties.Settings>
    </userSettings>
</configuration>